{% extends '@App/base.html.twig' %}
{% set page_title = 'Przypisywanie specjalistów' %}

{% block body %}

    <div class="content">
        <a href="{{ path('cards_index') }}">Lista kart</a>
        <h1>Przypisywanie specjalistów</h1>
        <h2>Token: {{ token["token"] }}</h2>
        <form class="form">
            <label for="groups">Rodzaj specjalisty:</label>
            <select class="form-control" id="groups" name="groups">
                {% for group in groups %}
                    <option value="{{ group["id"] }}">{{ group["name"] }}</option>
                {% endfor %}
            </select>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Specjalista</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="users-body">
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        var token = {{ token["id"] }};
    </script>
    <script src="{{ asset('bundles/app/js/cards.js') }}"></script>

{% endblock %}