{% extends '@App/base.html.twig' %}
{% set page_title = 'Lista kart' %}

{% block body %}

    <div class="content">
        <h1>Lista kart</h1>
        <table class="table">
            <thead>
            <tr>Token</tr>
            <tr></tr>
            </thead>
            <tbody>
            {% for token in tokens %}
                <tr>
                    <td>{{ token["token"] }}</td>
                    <td><a class="btn btn-primary" href="{{ path('cards_assign', {id: token["id"]}) }}">Przypisz specjalistów</a>
                        <a class="btn btn-success" href="{{ path('cards_transfer', {id: token["id"]}) }}">Przenieś kartę</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}