{% extends '@App/base.html.twig' %}
{% set page_title = 'Transfer karty' %}

{% block body %}

    <div class="content">
        <a href="{{ path('cards_index') }}">Lista kart</a>
        <h1>Transfer karty</h1>
        <h2>Token: {{ token["token"] }}</h2>
        <form class="form">
            <div class="form-group">
                <label for="groups">Placówki:</label>
                <select class="form-control" id="institution" name="institution">
                    {% for institution in institutions %}
                        <option {% if token["institutionId"] == institution["id"] %} selected {% endif %}
                                value="{{ institution["id"] }}">{{ institution["name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="submit-transfer" class="btn btn-primary" type="button" name="submit-transfer">Zatwierdź
                transfer
            </button>
        </form>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        var token = {{ token["id"] }};
    </script>
    <script src="{{ asset('bundles/app/js/transfer.js') }}"></script>

{% endblock %}