<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% if page_title is defined %} {{ page_title }} :: {% endif %} Formularze</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <link rel='stylesheet' href='https://unpkg.com/formiojs@2.3.4/dist/formio.form.min.css'>
        <link rel='stylesheet' href={{ asset('bundles/app/css/base.css') }}>

        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('bundles/app/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- iCheck -->
        {#<link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">#}

        <!-- bootstrap-progressbar -->
        <link href="{{ asset('bundles/app/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}"
              rel="stylesheet">
        <!-- JQVMap -->
        {#<link href="{{ asset('bundles/app/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>#}
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('bundles/app/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/app/alertify/css/alertify.min.css') }}">

        <!-- Custom Theme Style -->
        <link href="{{ asset('bundles/app/build/css/custom.min.css') }}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    {% endblock %}
    {% block javascripts %}
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src='https://unpkg.com/formiojs@latest/dist/formio.form.min.js'></script>
        <script src='https://unpkg.com/formiojs@latest/dist/formio.wizard.min.js'></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('bundles/app/alertify/alertify.min.js') }}"></script>
    {% endblock %}
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCoACVvrI65YFf-4olI8N9eRSGpBxq-7mc"></script>

    <script src="{{ asset('bundles/app/js/base.js') }}"></script>
</head>


<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">

                    <a href="{{ path('index') }}" class="site_title"><i class="fa fa-wpforms"></i>
                        <span><b>Formularze</b></span></a>
                </div>


                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    {% if app.user is not null %}
                        <div class="profile_pic">
                            <img src="{{ asset('bundles/app/img/user_avatar.png') }}" alt="..."
                                 class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>{{ app.user.username }}</span>
                            <h2>{{ app.user.email }}</h2>
                        </div>
                        <div class="profile_info">
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-dark">Wyloguj</a>
                        </div>
                    {% endif %}
                    {% if app.user is null %}
                        <div class="profile_info">
                            <a class="btn btn-dark" href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
                        </div>
                    {% endif %}
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        {% if app.user is not null %}
                            {% if (app.user.hasRole('VIEW_USER_FORMS')) or (app.user.hasRole('VIEW_SUBMISSIONS')) or (app.user.hasRole('VIEW_REPORTS')) or
                            (app.user.hasRole('VIEW_STATS')) or (app.user.hasRole('VIEW_CARDS')) %}
                                <h3>Panel użytkownika</h3>
                            {% endif %}
                            <ul class="nav side-menu">
                                {% if app.user.hasRole('VIEW_USER_FORMS') %}
                                    <li><a href="{{ path('view_user_forms') }}"><i class="fa fa-edit"></i>
                                            Formularze diagnostyczne</a></li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_SUBMISSIONS') %}
                                    <li><a href="{{ path('view_submissions') }}"><i class="fa fa-check-square-o"></i>
                                            Przesłane
                                            wyniki</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_REPORTS') %}
                                    <li><a href="{{ path('reports') }}"><i class="fa fa-file-o"></i> Raporty</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_STATS') %}
                                    <li><a href="{{ path('stats') }}"><i class="fa fa-bar-chart"></i> Statystyki</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_CARDS') %}
                                <li><a href="{{ path('cards_index') }}"><i class="fa fa-id-card"></i> Karty
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% if (app.user.hasRole('VIEW_USERS')) or (app.user.hasRole('VIEW_GROUPS')) or (app.user.hasRole('VIEW_FORMS')) or
                            (app.user.hasRole('VIEW_FORMS_GROUPS')) or  (app.user.hasRole('SUBMIT_FORM')) or  (app.user.hasRole('GENERATE_TOKEN')) or
                            (app.user.hasRole('VIEW_INSTITUTIONS')) or (app.user.hasRole('MANAGE_TOKEN')) %}
                                <h3>Administracja</h3>
                            {% endif %}
                            <ul class="nav side-menu">
                                {% if app.user.hasRole('VIEW_USERS') %}
                                    <li><a href="{{ path('view_users') }}"><i class="fa fa-user"></i> Użytkownicy</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_GROUPS') %}
                                    <li><a href="{{ path('groups') }}"><i class="fa fa-users"></i> Grupy</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_INSTITUTIONS') %}
                                <li><a href="{{ path('institutions_index') }}"><i class="fa fa-university"></i> Poradnie
                                    </a>
                                </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_FORMS') %}
                                    <li><a href="{{ path('view_forms') }}"><i class="fa fa-file-o"></i> Edycja
                                            formularzy</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('VIEW_FORMS_GROUPS') %}
                                    <li><a href="{{ path('view_forms_groups') }}"><i class="fa fa-files-o"></i> Grupy
                                            formularzy</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('SUBMIT_FORM') %}
                                    <li><a href="{{ path('create_form_render') }}"><i class="fa fa-plus-square-o"></i>
                                            Dodawanie
                                            forumularza</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('GENERATE_TOKEN') %}
                                    <li><a href="{{ path('token_generator') }}"><i class="fa fa-hashtag"></i> Generator
                                            tokenów</a>
                                    </li>
                                {% endif %}
                                {% if app.user.hasRole('MANAGE_TOKEN') %}
                                <li><a href="{{ path('token_manager') }}"><i class="fa fa-hashtag"></i> Menadżer
                                        tokenów</a>
                                </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        <ul class="nav side-menu">
                            <h3>Testy</h3>
                            <li><a href="{{ path('test_form') }}"><i class="fa fa-clone"></i> Testowanie formularza
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                {#<div class="sidebar-footer hidden-small">#}
                {#<a data-toggle="tooltip" data-placement="top" title="Settings">#}
                {#<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="FullScreen">#}
                {#<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="Lock">#}
                {#<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">#}
                {#<span class="glyphicon glyphicon-off" aria-hidden="true"></span>#}
                {#</a>#}
                {#</div>#}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user is not null %}

                            <li role="presentation" class="dropdown">
                                <div class="token">
                                    <label for="token-cookie"><i class="fa fa-hashtag"></i></label>
                                    <input type="text" id="token-cookie" name="token-cookie">
                                    <button class="btn-xs btn-primary" title="Zapisz token" type="button"
                                            id="token-cookie-set"><i class="fa fa-check"></i></button>
                                    <button class="btn-xs btn-danger" title="Usuń token" type="button"
                                            id="token-cookie-delete"><i class="fa fa-times"></i></button>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="row tile_count">

            </div>
            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">

                        {% block body %}
                        {% endblock %}


                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <br/>


        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->

<!-- FastClick -->
{#<script src="{{ asset('bundles/app/vendors/fastclick/lib/fastclick.js') }}"></script>#}
{#<!-- NProgress -->#}
<script src="{{ asset('bundles/app/vendors/nprogress/nprogress.js') }}"></script>
{#<!-- Chart.js -->#}
{#<script src="{{ asset('bundles/app/vendors/Chart.js/dist/Chart.min.js') }}"></script>#}
{#<!-- gauge.js -->#}
{#<script src="{{ asset('bundles/app/vendors/gauge.js/dist/gauge.min.js') }}"></script>#}
{#<!-- bootstrap-progressbar -->#}
{#<script src="{{ asset('bundles/app/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>#}
{#<!-- iCheck -->#}
{#<script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js') }}"></script>#}
{#<!-- Skycons -->#}
{#<script src="{{ asset('bundles/app/vendors/skycons/skycons.js') }}"></script>#}
{#<!-- Flot -->#}
{#<script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.pie.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.time.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.stack.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.resize.js') }}"></script>#}
{#<!-- Flot plugins -->#}
{#<script src="{{ asset('bundles/app/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/flot.curvedlines/curvedLines.js') }}"></script>#}
{#<!-- DateJS -->#}
{#<script src="{{ asset('bundles/app/vendors/DateJS/build/date.js') }}"></script>#}
{#<!-- JQVMap -->#}
{#<script src="{{ asset('bundles/app/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>#}
{#<!-- bootstrap-daterangepicker -->#}
{#<script src="{{ asset('bundles/app/vendors/moment/min/moment.min.js') }}"></script>#}
{#<script src="{{ asset('bundles/app/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>#}

<!-- Custom Theme Scripts -->
<script src="{{ asset('bundles/app/build/js/custom.min.js') }}"></script>

</body>
</html>
