{% extends '@App/base.html.twig' %}
{% set page_title = 'Testowanie formularza' %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(4) {
            width: 80px;
        }

        .rowData{
            cursor:pointer;
        }

        .list{

        }

    </style>
{% endblock %}
{% block body %}
    <h1>Testuj formularz</h1>
    <br>
    <form id="createForm">
        <div id="root_app" >
            <div class="form-group">
                <textarea class="form-control" name="" id="textarea" cols="30" rows="10"></textarea>
                <br>
            </div>
            <br>
            <div id="alert"></div>

            <div class="col-lg-3">
                <input type="submit" class="btn btn-primary" value="Testuj">
            </div>
            <br>
            <br>
            <br>
            <div id="formio"></div>
        </div>
    </form>

    <script src="{{ asset('bundles/app/js/testForm.js') }}"></script>
{% endblock %}
