<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="{{ asset('bundles/app/img/empty_person.png') }}" alt="..."
                             class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>

                        {#<h2>{{ app.user.firstName }}</h2>#}
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>&nbsp;</h3>
                        <ul class="nav side-menu">
                            <li class="{#{% if isCurrentRouteBelongTo('envelope_index') %}active{% endif %}#}"><a href="{#{{ path('envelope_index') }}#}"><i class="glyphicon glyphicon-envelope"></i> Envelope </a></li>
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('answer_index') %}active{% endif %}#}{#"><a href="{{ path('answer_index') }}"><i class="glyphicon glyphicon-bullhorn"></i> Answer </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('question_index') %}active{% endif %}#}{#"><a href="{{ path('question_index') }}"><i class="glyphicon glyphicon-earphone"></i> Question </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_create') %}active{% endif %}#}{#"><a href="{{ path('qa_create') }}"><i class="glyphicon glyphicon-barcode"></i> Q&A create </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_create') %}active{% endif %}#}{#"><a href="{{ path('qa_edit') }}"><i class="glyphicon glyphicon-repeat"></i> Q&A edit </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_search') %}active{% endif %}#}{#"><a href="{{ path('qa_search') }}"><i class="glyphicon glyphicon-search"></i> Q&A search </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_search') %}active{% endif %}#}{#"><a href="{{ path('envelopes_rand') }}"><i class="glyphicon glyphicon-envelope"></i> Envelops Rand </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_search') %}active{% endif %}#}{#"><a href="{{ path('questions_rand') }}"><i class="glyphicon glyphicon-earphone"></i> Questions Rand </a></li>#}
                            {#<li class="#}{#{% if isCurrentRouteBelongTo('qa_search') %}active{% endif %}#}{#"><a href="{{ path('qa_rand') }}"><i class="glyphicon glyphicon-list-alt"></i> Q&A Rand </a></li>#}
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a  href="{#{{ path('admin_logout') }}#}" data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="{{ asset('bundles/app/img/empty_person.png') }}" alt="">{#{{ app.user.firstName }}#}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{#{{ path('admin_logout') }}#}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>



        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div style="position: relative; width: 100%; height: 0px;">
                    <div style="    position: absolute;width: 100%; margin-top: 10px;" class="alert alert-error alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        {{ flashMessage }}
                    </div>
                </div>


            {% endfor %}


            {% block body %}{% endblock %}

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
        </footer>
        <!-- /footer content -->
    </div>
</div>



</body>