{% extends '@App/base.html.twig' %}
{% set page_title = 'Dodawanie poradni' %}

{% block body %}
    <div class="container">
    <a href="{{ path('institutions_index') }}">Lista poradni</a>
    <h2>Dodaj poradnię</h2>
    <form id="create-form">
        <div class="form-group">
            <label for="name">Nazwa</label>
            <input class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Opis</label>
            <textarea required class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="redactor">Wybierz redaktora</label>
            <select required class="form-control" id="redactor" name="redactor">
                {% for user in users %}
                    <option value="{{ user["id"] }}">{{ user["username"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn-xs btn-primary" id="create" type="button">Dodaj</button>
    </form>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/institutions.js') }}"></script>

{% endblock %}