{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja poradni' %}

{% block body %}
    <div class="container">
    <a href="{{ path('institutions_index') }}">Lista poradni</a>
    <h2>Edycja poradni</h2>
    <form id="update-form">
        <div class="form-group">
            <label for="name">Id</label>
            <input class="form-control" id="id" name="id" value="{{ institution["id"] }}" readonly>
        </div>
        <div class="form-group">
            <label for="name">Nazwa</label>
            <input class="form-control" id="name" name="name" value="{{ institution["name"] }}">
        </div>
        <div class="form-group">
            <label for="description">Opis</label>
            <textarea required class="form-control" id="description" name="description">{{ institution["description"] }}</textarea>
        </div>
        <div class="form-group">
            <label for="redactor">Wybierz redaktora</label>
            <select required class="form-control" id="redactor" name="redactor">
                {% for user in users %}
                    <option {% if institution["userId"] == user["id"] %} selected {% endif %}
                    value="{{ user["id"] }}">{{ user["username"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn-xs btn-primary" id="update" type="button">Aktualizuj</button>
    </form>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/institutions.js') }}"></script>

{% endblock %}