{% extends '@App/base.html.twig' %}
{% set page_title = 'Lista poradni' %}

{% block body %}

    <div class="content">
        <a href="{{ path('institutions_create') }}">Dodaj poradnię</a>
        <h1>Lista poradni</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for institution in institutions %}
                <tr>
                    <td>{{ institution["name"] }}</td>
                    <td>{{ institution["description"] }}</td>
                    <td><a class="btn btn-primary" href="{{ path('institutions_edit', {id: institution["id"]}) }}">Edycja
                        </a>
                        <button class="btn btn-danger" value="{{ institution["id"] }}" name="delete-institution">Usuń
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/institutions.js') }}"></script>

{% endblock %}