{% extends '@App/base.html.twig' %}
{% set page_title = 'Generator tokenów' %}

{% block body %}

    <div id="generator-container" class="container">
        <h2>Wygeneruj token</h2>
        <form id="generate-form">
            <label for="name">Imię</label>
            <input required id="name" name="name" type="text">
            <label for="surname">Nazwisko</label>
            <input required id="surname" type="text">
            <label for="pesel">PESEL</label>
            <input required id="pesel" type="number" maxlength="10">
            <button class="btn-xs btn-primary" id="generate-submit" type="button">Generuj</button>
        </form>
        <h2>Dodaj token</h2>
        <form id="save-form">
            <div class="form-group">
                <label for="token">Token</label>
                <input required class="form-control" id="token" name="token" type="text" value="" readonly>
            </div>
            <div class="form-group">
                <label for="gender">Płeć</label>
                <select required class="form-control" name="gender" id="gender">
                    {% for value in gender['values'] %}
                        <option value="{{ value['id'] }}">{{ value['value'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="province">Województwo</label>
                <select required class="form-control" name="province" id="province">
                    {% for value in province['values'] %}
                        <option value="{{ value['id'] }}">{{ value['value'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="population">Miejsce zamieszkania</label>
                <select required class="form-control" name="population" id="population">
                    {% for value in population['values'] %}
                        <option value="{{ value['id'] }}">{{ value['value'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="father_education">Wykształcenie ojca</label>
                <select required class="form-control" name="father_education" id="father_education">
                    {% for value in education['values'] %}
                        <option value="{{ value['id'] }}">{{ value['value'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="mother_education">Wykształcenie matki</label>
                <select required class="form-control" name="mother_education" id="mother_education">
                    {% for value in education['values'] %}
                        <option value="{{ value['id'] }}">{{ value['value'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn-xs btn-primary" type="button" id="save-submit">Zapisz</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/tokens.js') }}"></script>

{% endblock %}