{% extends '@App/base.html.twig' %}
{% set page_title = 'Zarządzanie tokenami' %}

{% block body %}

    <div class="content">
        <h1>Zarządzanie tokenami</h1>
        <table class="table">
            <thead>
            <th>Token</th>
            <th>Placówka</th>
            </thead>
            <tbody>
            {% for token in tokens %}
                <tr>
                    <td>{{ token['token'] }}</td>
                    <td><select class="form-control" data-tokenid="{{ token['id'] }}" name="institution">
                            <option value="0">Brak placówki</option>
                            {% for institution in institutions %}
                                <option {% if token['institutionId'] == institution['id'] %}selected{% endif %} value="{{ institution['id'] }}">{{ institution['name'] }}</option>
                            {% endfor %}
                        </select></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/tokens.js') }}"></script>

{% endblock %}