{% extends '@App/base.html.twig' %}
{% set page_title = 'Statystyka formularzu' %}

{% block body %}
    <div class="container">
        <a href="{{ path('stats') }}">Powrót do listy statystyk</a>
        <h1>Statystyki dla formularza: {{ title }}</h1>
        <br>
        {% for field in result %}
            <p><b>{{ field['question'] }}</b></p>
            {% for answer, count in field['answers'] %}
                <p>Występowanie: {{ count }} - Odpowiedź: {{ answer }}</p>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
{% endblock %}