{% extends '@App/base.html.twig' %}
{% set page_title = 'Statystyki' %}

{% block body %}
    <div class="container">
        <h1>Statystyki</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa formularza</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody id="results-body">
            {% for form in forms %}
                <tr>
                    <td>{{ form["id"] }}</td>
                    <td>{{ form["form"]["title"] }}</td>
                    <td><a href="{{ path('stats_get', {'id':  form["id"]  }) }}">
                            <button class="btn-xs btn-primary">Obejrzyj</button>
                        </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}