{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja grup formularzy' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(3) {
            width: 80px;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="root_app">
        <h1 v-text="groupName" class="page-header"></h1>
        <a href="{{ path('view_forms_groups') }}"><span class="glyphicon glyphicon-menu-left"></span> Grupy formularzy</a>
        <div class="row">
            <div>
                <table class="table table-striped  fixed">
                    <thead>
                    <caption><h2>Grupy użytkowników</h2></caption>
                    <tr>
                        <td>Id</td>
                        <td>Nazwa grupy</td>
                        <td>Akcje</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="group in userGroups">
                        <td v-text="group.id"></td>
                        <td v-text="group.groupName"></td>
                        <td>
                            <button class="btn btn-danger" @click="deleteGroup(group.groupId)">Usuń</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-inline">
                    <button class="btn btn-info" @click="addGroup">Dodaj grupę</button>
                    <select class="form-control selects" name="groups" id="groupsSelects" v-model="selectedGroup">
                        <option value="">- Wybierz grupę -</option>
                        <option v-for="group in allGroups" :value="group.id" v-text="group.name"></option>
                    </select>
                </div>


            </div>
        </div>

    </div>

    <script>
        var user_id ={{ id }};
        var group_name = '{{ data.name }}';
    </script>
    <script src="{{ asset('bundles/app/js/editFormsGroups.js') }}"></script>
{% endblock %}
