{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja formularzy' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(3) {
            width: 80px;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="root_app">
        <h1 v-text="groupName" class="page-header"></h1>
        <a href="{{ path('view_forms_groups') }}"><span class="glyphicon glyphicon-menu-left"></span> Grupy formularzy</a>
        <div class="row">
            <div>
                <table class="table table-striped fixed">
                    <thead>
                    <caption><h2>Formularze</h2></caption>
                    <tr>
                        <td>Id</td>
                        <td>Nazwa formularza</td>
                        <td>Akcje</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="form in forms">
                        <td v-text="form.formsId"></td>
                        <td v-text="form.title"></td>
                        <td>
                            <button class="btn btn-danger" @click="deleteForm(form.formsId)">Usuń</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-inline">
                    <button class="btn btn-info" @click="addForm">Dodaj formularz</button>
                    <select class="form-control selects" name="forms" id="formsSelects" v-model="selectedForm">
                        <option value="">- Wybierz formularz -</option>
                        <option v-for="form in allForms" :value="form.id" v-text="form.form.title"></option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <script>
        var user_id ={{ id }};
        var group_name = '{{ data.name }}';
    </script>
    <script src="{{ asset('bundles/app/js/editForms.js') }}"></script>
{% endblock %}
