{% extends '@App/base.html.twig' %}
{% set page_title = 'Grupy formularzy' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/formsGroups.css') }}">
{% endblock %}

{% block body %}
    <h1 class="page-header">Grupy formularzy</h1>
    <div id="root_app">
        <table class="table table-striped fixed table-responsive">
            <thead>
            <tr>
                <td>Id</td>
                <td>Nazwa</td>
                <td>Opis</td>
                <td>Akcje</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="group, key in formsGroups">
                <td>
                    <span v-text="group.id"></span>
                </td>
                <td>
                    <input class="form-control" v-if="editMode==group.id" type="text" v-model="editGroup.name">
                    <span v-else v-text="group.name"></span>
                </td>
                <td>
                    <input class="form-control" v-if="editMode==group.id" type="text" v-model="editGroup.description">
                    <span v-else v-text="group.description"></span>
                </td>
                <td>
                    <button type="submit" v-if="editMode==group.id" @click.prevent="updateGroup(group.id)"
                            class="btn btn-success">Zapisz
                    </button>
                    <button class="btn btn-info" @click="editGroupButton(group)">
                        <div v-if="editMode==group.id" v-text="editButtonLabel"></div>
                        <div v-else title="Edytuj nazwę i opis"><span class="glyphicon glyphicon-edit"></span></div>
                    </button>
                    {#<button class="btn btn-danger" @click="deleteGroup(group.id)">Usuń</button>#}
                    <a :href="formManagerUrl(group.id)" class="btn btn-default" title="Zmień członków grupy">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-inline form-group">
            <form>
                <input class="form-control" type="text" placeholder="Podaj nazwę grupy" v-model="newGroup.name">
                <input class="form-control" type="text" placeholder="Podaj opis grupy" v-model="newGroup.description">
                <button type="submit" class="btn btn-primary" @click.prevent="addGroup">Dodaj główną grupę</button>
            </form>
        </div>
    </div>
    <div id="tree">
        <div class="tree-view">
            {#<pre>@{tree}</pre>#}
            <branch :model="tree" class="hide-dots "></branch>

        </div>
    </div>


    <script src="{{ asset('bundles/app/js/formsGroups.js') }}"></script>
    <script src="{{ asset('bundles/app/js/tree.js') }}"></script>
{% endblock %}
