{% extends '@App/base.html.twig' %}
{% set page_title = 'Dodawanie formularza' %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(4) {
            width: 80px;
        }

        .rowData{
            cursor:pointer;
        }

        #diagnostic-forms .group{
            font-size:20px;
        }

        #diagnostic-forms{
            margin:5px 0px;
        }

    </style>
{% endblock %}
{% block body %}
<h1>Dodawanie formularza</h1>
    <br>
    <form id="createForm">
        <div id="root_app">
            <div class="form-group">
                <textarea class="form-control" name="" id="textarea" cols="30" rows="10"></textarea>
            </div>
            <br>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3>Grupy formularzy:</h3>
                <div class="tree-view">
                    <branch class="item" v-for="group, index in formsGroups" :model="group" :index="index" :parent="formsGroups" :check="formGroup.id" @checked="select"></branch>
                </div>
                <br>
            </div>
            <div class="col-lg-3">
                    <div class="form-group">
                        <label for="report"><h3>Typ raportu:</h3></label>
                        <select class="form-control" id="report" v-model="reportId">
                            <option v-for="report in reports" :value="report.id" v-text="report.name"></option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                <input type="submit" class="btn btn-primary" value="Dodaj formularz">
            </div>
        </div>
    </form>

    <script src="{{ asset('bundles/app/js/createForm.js') }}"></script>
{% endblock %}
