{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja formularza' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(4) {
            width: 80px;
        }

        .rowData{
            cursor:pointer;
        }

        #diagnostic-forms .group{
            font-size:20px;
        }

        #diagnostic-forms {
            margin:10px 0px;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Edycja formularza</h1>
        <form id="createForm">
            <div id="root_app">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label for="title"><h3>Tytuł:</h3></label>
                        <input type="text" class="form-control" id="title" value="{{ form.form.title }}">
                        <br>
                        <h3>Grupy formularzy:</h3>
                        <branch class="item" v-for="group,index in formsGroups" :model="group" :check="formGroup.id" :index="index" @checked="select"></branch>
                        <br>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="report"><h3>Typ raportu:</h3></label>
                            <select class="form-control" id="report" v-model="selected">
                                <option v-for="report in reports" :value="report.id" v-text="report.name"></option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <input type="submit" class="btn btn-primary" value="Edytuj formularz">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var report = {{ report }};
        var id = {{ id }};
    </script>
    <script src="{{ asset('bundles/app/js/editForm.js') }}"></script>
{% endblock %}
