{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja formularzy' %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block body %}
    <div class="container">

        <h1>Edycja formularzy</h1>
        <div id="alert"></div>
        <br>
        <div id="root">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa formularza</th>
                    <th>Wyświetl</th>
                    <th>Edytuj</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody v-for="form in forms">
                <tr>
                    <td>@{ form.id }</td>
                    <td>@{ form.form.title }</td>
                    <td><a class="btn-xs btn-info" :href="showForm(form.id)">Wyświetl</a></td>
                    <td><a class="btn-xs btn-primary" :href="rout(form.id)">Edytuj</a></td>
                    <td><button :class="form.status ?'btn-xs btn-success':'btn-xs btn-danger' " @click="statusForm( form.id )" v-text="form.status ?'aktywny':'nieaktywny' "></button></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ asset('bundles/app/js/forms.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}