{% extends '@App/base.html.twig' %}
{% set page_title = 'Formularz' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .fixed-survey>table td:nth-of-type(1) {
            width: 500px;
        }
    </style>
    {% endblock %}

{% block body %}
    <div class="container">
        <div id="formio"></div>
    </div>
    <script>
        var id = {{ id }};
    </script>
    <script src="{{ asset('bundles/app/js/showForms.js') }}"></script>
{% endblock %}