{% extends '@App/base.html.twig' %}
{% set page_title = 'Formularze diagnostyczne' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/userForms.css') }}">
{% endblock %}

{% block body %}
    <h1>Formularze diagnostyczne</h1>

    <div id="tree">
        <div class="tree-view">
            <branch class="item" v-for="formGroup, index in formsGroups" :model="formGroup" :key="formGroup.index">
            </branch>
        </div>
    </div>

    <script src="{{ asset('bundles/app/js/userForms.js') }}"></script>
{% endblock %}
