{% extends '@App/base.html.twig' %}
{% set page_title = 'Dodanie grupy' %}

{% block body %}
    <div class="container">
        <a href="{{ path('groups') }}">Lista grup</a>
        <h2>Dodaj grupę</h2>
        <form id="add-form">
            <label for="name">Nazwa</label>
            <input id="name" name="name" type="text">
            <label for="roles-body">Uprawnienia</label>
            <div id="roles-body" class="form-group">
            </div>
            <button class="btn-xs btn-primary" id="add-submit" type="button">Dodaj</button>
        </form>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/groups.js') }}"></script>

{% endblock %}