{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja grupy' %}

{% block body %}
    <div class="container">
        <a href="{{ path('groups') }}">Lista grup</a>
        <h2>Edytuj grupę</h2>
        <form id="update-form">
            <label for="id">Id</label>
            <input id="id" name="id" type="text" value="{{ group['id'] }}" readonly><br>
            <label for="name">Nazwa</label>
            <input id="name" name="name" type="text" value="{{ group['name'] }}"><br>
            <label for="roles-body">Uprawnienia</label>
            <div id="roles-body" class="form-group">
            {% for role in group['roles'] %}
                <input checked type="checkbox" name="{{ role }}" value="{{ role }}">{{ role }}<br>
            {% endfor %}
            </div>
            <button class="btn-xs btn-primary" id="update-submit" type="button">Aktualizuj</button>
        </form>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/groups.js') }}"></script>

{% endblock %}