{% extends '@App/base.html.twig' %}
{% set page_title = 'Grupy' %}

{% block body %}
    <div class="container">
        <a href="{{ path('group_add') }}">Dodaj grupę</a>
        <h1>Grupy użytkowników</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa grupy</th>
                <th>Przypisane uprawnienia</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody id="groups-body">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/groups.js') }}"></script>

{% endblock %}