{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="login-form">
    <div class="modal-dialog">
        <div class="login-container">
            <h1><i class="fa fa-wpforms"></i><br>Zaloguj się</h1><br>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <input type="text" id="username" placeholder="Login" name="_username" value="{{ last_username }}" required="required" />
                <input type="password" id="password" placeholder="Hasło" name="_password" required="required" />
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">zapamiętaj mnie</label>
                <input class="loginmodal-submit" type="submit" id="_submit" name="_submit" value="Zaloguj się" />
            </form>
        </div>
    </div>
</div>