<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% if page_title is defined %} {{ page_title }} :: {% endif %} Formularze</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/login-form.css') }}">
        <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</head>
<body>

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% block body %}
{% endblock %}
</body>
</html>