.token {
    padding: 7px;
}

.skala-title{
    color:green;
    font-weight: bold;
    font-size:50px;
}

.introduction{
    color:black;
    font-size: 25px;
    font-style: italic;
}

.title-green-line{
    border: 3px solid green;
}

.green-line{
    margin:40px 0 25px 0;
    border: 2px solid green;
}

.question{
    color:black;
    font-weight: bold;
    font-size: 20px;
    padding:10px 0 20px 0;
}

.sub-question{
    color: black;
    font-size: 15px;
}

.miniature{
    width:350px;
}

#formio{
    width: 1050px;
}

/*nauczyciel*/
.skala-title-black{
    color:black;
    font-weight: bold;
    font-size:50px;
}

.title-black-line{
    border: 3px solid black;
}

.black-line{
    margin:40px 0 25px 0;
    border: 2px solid black;
}

.introduction-ka{
    color:black;
    font-size: 25px;
    font-style: italic;
}

.error-field{
    color:red;
}