.hiddenRow {
    padding: 0 !important;

}

.clickable {
    cursor: pointer;
}

/*table.fixed td:nth-of-type(2), td:nth-of-type(3) {*/
    /*width: 250px;*/
/*}*/

table.fixed td:nth-of-type(1) {
    width: 50px;
}

table.fixed td:nth-of-type(4) {
    width: 260px;
}

table.fixed input {
    width: 100%;
}

#root {
    padding-top: 50px;
}

.hide-dots{
    list-style: none;
}

.tree-view {
    padding: 10px;
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}
.button-fixed {
    padding: 7px 10px 7px 9px !important;
}


.input-add{
    max-width: 200px;
    height: 30px;
}


.item {
    padding: 3px;
    margin: 5px 0 5px 20px;

}

.forms-count{
    background-color: #f3f3f3;
    padding:2px 5px 2px 5px;
    margin-left: 3px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}