html {
    background-color: #F7F7F7;
}

.login-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #2A3F54;
    color: #E7E7E7;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: sans-serif;
}

.login-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: sans-serif;
}

.login-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-family: sans-serif;
}

.login-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
}

.login-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
    font-family: sans-serif;
}

.loginmodal-submit {
    color: #E9EDEF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4B5F71;
    border: 1px solid #364B5F;
    margin-top: 10px;
    padding: 17px 0;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
}

.loginmodal-submit:hover {
    color: #FFF;
    border: 1px solid #394D5F;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #394D5F;
    cursor: pointer;
}

.login-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
    font-family: sans-serif;
}

.login-help {
    font-size: 12px;
}