.hiddenRow {
    padding: 0 !important;

}

.clickable {
    cursor: pointer;
}

table.fixed td:nth-of-type(4) {
    width: 80px;
}

.rowData{
    cursor:pointer;
}

#diagnostic-forms li{
    margin:10px 0px;
}

#diagnostic-forms span.title{
    margin-left:15px;
    font-size:15px;
}

#diagnostic-forms a.title{
    font-size:14px;
}

#diagnostic-forms .group{
    font-size:20px;
}