{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table.fixed td:nth-of-type(5) {
            width: 400px;
        }
        table.fixed td:nth-of-type(6) {
            width: 110px;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="root_app">
        <h1>Zarządzanie użytkownikami</h1>
        <table class="table  fixed">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>E-mail</th>
                <th>Data ostatniego logowania</th>
                <th>Grupy</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody >
            <template v-for="user in users">
            <tr>
                <td v-text="user.id"></td>
                <td v-text="user.username"></td>
                <td v-text="user.email"></td>
                <td v-text="user.last_login"></td>
                <td v-text="user.groups"></td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-xs btn-primary" @click="editUserButton(user.id, user.groups_values)">Edytuj
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" @click="deleteUser(user.id)">Usuń</button>
                    </div>
                </td>
            </tr>
            <tr v-if="editKey == user.id">
                <td colspan="6">
                    <edit-user :groups="groups" :datas="userData" :id="user.id"></edit-user>
                </td>

            </tr>
            </template>

            </tbody>
        </table>
        <button class="btn-xs btn-primary" @click="addUserButton">Dodaj użytkownika</button>
        <div  v-if="newUser">
            <add-user :groups="groups" :datas="userData" ></add-user>
        </div>
    </div>


    <script src="{{ asset('bundles/app/js/usersManagement.js') }}"></script>
{% endblock %}
