{% extends '@App/base.html.twig' %}
{% set page_title = 'Raporty' %}

{% block body %}
    <div class="container">
        <h1>Raporty na podstawie wyników</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa raportu</th>
                <th>Nazwa formularza</th>
                <th>Data przesłania</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody id="results-body">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/reports.js') }}"></script>

{% endblock %}