{% extends '@App/base.html.twig' %}
{% set page_title = 'Wynik raportu' %}

{% block body %}
    <div class="container">
        <a href="{{ path('reports') }}">Powrót do listy raportów</a>
        <br>
        <br>
        <br>
        {{ result | raw }}
    </div>
{% endblock %}