{% extends '@App/base.html.twig' %}
{% set page_title = 'Edycja wyniku' %}

{% block body %}
    <div class="container">
        <h1>Edytowanie Danych</h1>

        <div id="formio"></div>
    </div>

    <script>
        var submissionId = {{ submissionId }};
    </script>

    <script src="{{ asset('bundles/app/js/editSubmission.js') }}"></script>
{% endblock %}