{% extends '@App/base.html.twig' %}
{% set page_title = 'Przesłane wyniki' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .hiddenRow {
            padding: 0 !important;

        }

        .clickable {
            cursor: pointer;
        }

        table.fixed td:nth-of-type(4) {
            width: 80px;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="root_app" v-if="!error">
        {#<pre>@{submissions}</pre>#}

        <div v-if="token"><h1>Wysłane formularze</h1>
            <table class="table table-striped fixed" id="accordion">
                <thead>
                <tr>
                    <th>Nazwa formularza</th>
                    <th>Token dziecka</th>
                    <th>Data wysłania</th>
                    <th>Edycja</th>
                    <th>Usuwanie</th>
                </tr>
                </thead>
                <tbody v-for="item, key in submissions">
                <tr data-toggle="collapse" data-parent="#accordion" :href="'#collapse'+key" class="clickable">
                    <td v-text="item.formTitle"></td>
                    <td v-text="item.token"></td>
                    <td v-text="item.submitDate.date"></td>
                    <td>
                        <button @click.stop='editSubmission(item.id)' class="btn-xs btn-primary">Edycja</button>
                    </td>
                    <td>
                        <button @click.stop='deleteSubmission(item.id)' class="btn-xs btn-danger">Usuwanie</button>
                    </td>
                </tr>
                <tr>
                    <td class="hiddenRow" colspan="5">
                        <div :id="'collapse'+key" class="panel-collapse collapse out">
                            <table class="table fixed-sub">
                                <thead>
                                <tr>
                                    <th>Pole</th>
                                    <th>Wartość</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="field, key in item.submission">
                                    <td v-text="item.labels[key].name"></td>
                                    <td>
                                        <div v-if="item.labels[key].type=='survey'">
                                            <survey-field :item="item" :field="key"></survey-field>
                                        </div>
                                        <div v-else>
                                            <div v-text="field"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="alert alert-danger" v-if="!token">Wprowadź token podopiecznego</div>
    </div>


    <script src="{{ asset('bundles/app/js/submissions.js') }}"></script>
{% endblock %}
